html, body {
    margin:1rem auto;
    max-width: 100%;
    padding: 0.25rem;
    overflow-x: hidden;    
}

header {
    border: 1px solid black;
    width: 100%;
    background-color: black;
    color: White;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

nav {
    width: 40%;
    font-size: 2rem;
}

header h1 {
    font-size: 3rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 
}

nav ul li a {
    color:white ;
    text-decoration: none;
}

.title {
    font-size: 3rem;
    display: inline-block;
    margin-left: 20rem;
}

#mainimg {
   width: 100%;
   overflow: hidden;
   height: 40rem;
}

#categories img {
    width: 15rem;
}